{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
        <h2>Posts</h2>
        {% for post in posts %}
            <article class="post">
                <h3>
                    <a href="{% url 'posts:page' slug=post.slug %}">
                        {{post.title}}
                    </a>
                    {{ post.title }}
                </h3>
                <p>{{ post.date }} by {{post.author}}</p>
                <p>{{ post.body }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}